input.form-control.form-control-lg{
    margin-left:40px;
   padding:4px;
   width:75%;
   margin-top: 30px;
   margin-bottom:40px;
}
div.signIn{
    align-items: center;
    width:60%;
    height:60%;
    border:2px  solid rgb(26, 134, 170);
    position:absolute;
    top:25%;
    left:20%;
}
button.btn.btn-default{
    position:relative;
    /* let:45%; */
    background-color:red;
    height:50px;
    width:80px;
    border-radius: 10px;
    transition:all 300ms ease;
}
button.btn.btn-default:hover{
    background-color:green;
    transform:scale(1.2);
}
.sign{
    position: absolute;
    left:40%;
    top:70%;
}
a{
    color:red;
    text-decoration: undeline;
    margin-left:5px;
}
.link{
    text-decoration: underline;
}
.link:hover{
    color:green;
}
p{
    margin-left: 40px;
    font-size: large;
    color:blue;
}