ul{
    color:blue;
    font-size:x-large;
    font-weight: bold;
}
.instructions{
    border:2px solid black;
    width:50%;
    height:50%;
    position: absolute;
    top:25%;
    left:25%;
}
button.btn.btn-default{
    border-radius: 10px;
    background-color:red;
    transition:all 300ms ease;
    margin-left:75%;
    margin-top:-8px;
}
button.btn.btn-default:hover{
    background-color: green;
    transform: scale(1.2);
}
.heading{
    position: absolute;
    top:14%;
    left:38%;
    color: aqua;
    font-size:xx-large;
}
